* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #833ab4;
  background: linear-gradient(45deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  color: #ffffff;
}