.game h1 {
  font-size: 3rem;
}

.ponts span {
  font-weight: bold;
}

.tip,
.tip span {
  font-size: 2.5rem;
}

.tip span {
  color: rgb(255, 217, 0);
}

.wordContainer {
  margin: 1.5rem;
  padding: 1.5rem;
  border: 2rem solid #72158a;
  display: flex;
}