#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content {
  display: grid;
  grid-template: auto auto auto/auto auto auto;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  background-color: #303030;
  -webkit-box-shadow: 3px 3px 37px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 3px 3px 37px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 3px 3px 37px 0px rgba(0, 0, 0, 0.33);
}

.challenge {
  box-sizing: border-box;
  background-color: #38a5ff;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
  height: min-content;
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.2);
}

.contentCard {
  display: grid;
  gap: 20px;
  grid-template: auto auto/auto auto;
  background-color: #444444;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.2);
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
}

.cardInfo {
  text-align: start;
  line-height: 1;
  background-color: #9e4e8d;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
}

.conditionalCard {
  padding: 20px;
  background-color: #38a5ff;
  width: 260px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.2);
}

.buttons {
  background-color: #8a0000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.conditionalCard button {
  margin: 10px;
}

.ballBar {
  display: flex;
  align-items: center;
  background-color: #adff2f;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

.sideBall{
  background-color: #022002;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.center {
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}